
body{
 margin: 0;
 padding: 0;
 font-family: 'Caveat', cursive;
 background-position: 50% 50%;
 background-color: rgb(35, 56, 112);
 
}

nav h1{
 text-align: center;
 text-transform: uppercase;
 margin-top: 40px;
 color: cornsilk;
 font-size: 2.2em;
 display: inline-block;
}

img{
 width: 200px;

}
 
.container{
 margin: 100px;
 display: initial;
}

.progressbar{
 width: 500px;
 }


.box{
 width: 160px;
 margin-left: 150px;
}


.line{
 height: 50px;
 min-width: 50px;
 margin: 0 auto 10px;
 line-height: 25px;
 font-size: 14px;
 color: #fff;
 position: relative;
 border-radius: 3px;
}

.line:before{
 content: '';
 width: 100%;
 position: absolute;
 left: 0;
 height: 25px;
 top: 0;
 z-index: -2;
 background: #d2d6d7;
 border-radius: 0px 15px 15px 10px;

}

 .line:after {
 content: '';
 background: rgb(24, 24, 23);
 height: 25px;
 transition: 1.4s;
 display: block;
 width: 3%;
 animation: animate 5s;
 top: 0;
 position: absolute;
 z-index: -1;
 left: 0;
 border-radius: 0px 15px 15px 0px;
}

p {
 color: white;
 font-size: 2.4em;
 padding: 28px;
 padding-left: 5px;
}

h2{
color: blanchedalmond;
font-size: 0.8em;
}

.line1 :after{
 max-width: 70%;

}

 .line2:after{
 max-width: 14%;

}

.line3:after{
 max-width: 68%;
}




@keyframes animate{
    0%{
        width: 0;
    }
    96%{
         width: 96%;
    }
}

      
      
   
   






